{% extends 'base.html' %}

{% block content %}
      {% comment %} <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for cat in categories%}
          <a class="p-2 text-muted" href="#">{{cat}}</a>
          {% endfor %}
          
        </nav>
      </div>
    </div> {% endcomment %}
    


<!-- Featured Post -->
<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">CETEGORY - {{category}}</h3>
<div class="row mb-2">
    {% if posts %}
  {% for post in posts %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blogs' post.slug %}" class="text-dark">{{post.title}} </a></h3>
          <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
          <p class="card-text">{{post.short_description | truncatewords:25}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12">
      <div class="card border-0" >
        <div class="card-body">
          <h3>No posts available in this category.</h3>
        </div>
      </div>
    {% endif%}
  </div>
    
</div>
{% endblock %}